# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dashboard/node_modules/
server/node_modules/

# Build output
dist/
dist-ssr/
dashboard/dist/
server/dist/

# Local environment files
.env
.env.*        # Covers .env.local, .env.development, etc.
dashboard/.env
server/.env

server/firebase-key.json

# System files
.DS_Store

# IDE/editor settings
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: if you use coverage or testing tools
coverage/
